<mat-card appearance="outlined">
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> AÇÕES </mat-panel-title>
          <mat-panel-description> R$ 1931,45</mat-panel-description>
        </mat-expansion-panel-header>
        <p><b>Posição Atual:</b> R$ 1931,45</p>
        <p><b>% Ideal:</b> 25,00%</p>
        <p><b>% Atual:</b> 33,57%</p>

        <section>          
          <div class="botoes">
            <button mat-stroked-button><mat-icon>add</mat-icon>Aportar</button>
            <button mat-stroked-button><mat-icon>update</mat-icon>Alterar</button>
            <button mat-stroked-button><mat-icon>delete</mat-icon>Remover</button>
            <button mat-stroked-button><mat-icon svgIcon="calculate">delete</mat-icon>Calcular</button>
          </div>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>