<mat-card appearance="outlined">  
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ investimento?.nome}} </mat-panel-title>
          <mat-panel-description> {{ investimento?.posicaoAtual | currency:'BRL': 'symbol'}}</mat-panel-description>
        </mat-expansion-panel-header>
        <p><b>Posição Atual:</b> {{ investimento?.posicaoAtual | currency:'BRL': 'symbol'}}</p>
        <p><b>% Ideal:</b> {{ investimento?.percentualIdeal | number: '1.2-2' }}%</p>
        <p><b>% Atual:</b> {{ investimento?.percentualAtual | number: '1.2-2' }}%</p>

        <section>
          <div class="botoes">
            <button mat-stroked-button><mat-icon>add</mat-icon>Aportar</button>
            <button mat-stroked-button><mat-icon>update</mat-icon>Alterar</button>
            <button mat-stroked-button><mat-icon>delete</mat-icon>Remover</button>
            <button mat-stroked-button><mat-icon svgIcon="calculate">delete</mat-icon>Calcular</button>
          </div>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
