.detalhes-investimentos {
  margin: 5px;
  width: 300px;
  height: 300px;

  .titulo {
    margin-bottom: 30px;
  }

  .sugestao {
    color: #0DB6C8;
  }

  .sugestao-realizada{
    color: var(--color-text-aporte-realizado);
  }
}
