<mat-card appearance="outlined" class="detalhes-investimentos">
  <mat-card-header class="titulo">
    <mat-card-title>{{ investimento?.nome }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><b>Posição Atual:</b> R$ {{investimento?.posicaoAtual }}</p>
    <p><b>% Ideal:</b> {{ investimento?.percentualIdeal }}%</p>
    <p><b>% Atual:</b> {{ investimento?.percentualAtual }}</p>
    <p class="sugestao"><b>Aporte Sugerido:</b> R$ {{ investimento?.sugestaoAporte }}</p>
    <p class="sugestao"><b>Posição pós aporte:</b> R$ {{ investimento?.posicaoComSugestaoAporte }}</p>
    <p class="sugestao"><b>% Após aporte:</b> {{ investimento?.percentualComSugestaoAporte }}%</p>
  </mat-card-content>
</mat-card>
