/* You can add global styles to this file, and also import other style files */

:root {
  --mat-sidenav-content-background-color: #262124;  
  --mat-sidenav-content-text-color: #e9e0e4;  
}

html, body {
    height: 100%;
    background-color:var(--mat-sidenav-content-background-color);
    color:var(--mat-sidenav-content-text-color);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
