.secao-aportes {  
  margin: 10px auto 10px;  
  max-width: 90%;
}

.conteiner-aportes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

app-sugestao-aporte{
  margin: 10px;
  width: 350px;
  max-height: 350;  
}
